body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}

/* Card */

.card {
    margin: 100px auto 70px auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 15px;
    background-color: #ffffff;
}

.card-container {
    flex: 1;
}

/* Product Preview */

.preview {
    max-width: 100%;
    vertical-align: middle;
}

/* Product Info */

.category {
    color: hsl(228, 12%, 48%);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: normal;
    letter-spacing: 0.25rem;
    margin: 30px 0px 0px 25px;
}

.product-info {
    padding: 10px 30px;
}

.product-name {
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    margin-top: 5px;
}

.product-desc {
    color: hsl(228, 12%, 48%);
    line-height: 1.7;
    font-size: 0.875rem;
}

.price {
    margin: 25px auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.actual-price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 2.3rem;
}

.original-price {
    color: hsl(228, 12%, 48%);
    font-size: 0.9rem;
}

/* Add to cart button */

.add-to-cart-wrapper {
    margin: 10px auto;
    text-align: center;
}

.add-to-cart {
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    padding: 15px 0px;
    border-radius: 8px;
    border-style: none;
}

.add-to-cart:hover {
    background-color: hsl(158, 36%, 20%);
    cursor: pointer;
}

.cart-image {
    margin-right: 10px;
    vertical-align: middle;
}

/* Attribution  */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}